<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!-- here the id name should be the name of class in camelCase notation, it is convention not necessary-->
    <!-- and we must give the id if we don't then it can't find the bean when we try to access it by id/name-->
    <!--    in bean the name parameter is used to name the bean, and it is called as aliases, we can write multiple names of bean and call it by one of them-->

    <bean id = "orderService"
            name = "orderServiceBean, orderServiceBean2, orderServiceBean"
            class = "org.example.OrderService"/>

    <bean id = "paymentService"  class = "org.example.PaymentService"/>

    <!--    <bean id = "orderService2"  class = "org.example.OrderService"/>-->



</beans>