<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!-- here the id name should be the name of class in camelCase notation, it is convention not necessary-->
    <!-- and we must give the id if we don't then it can't find the bean when we try to access it by id/name-->
    <!-- in bean the name parameter is used to name the bean, and it is called as aliases, we can write multiple names of bean and call it by one of them-->
    <!-- in XML based config we can't inject dependency through field injection, we just do it via constructor or setter methods  -->

    <!--    <bean id = "orderService"-->
    <!--            name = "orderServiceBean, orderServiceBean2, orderServiceBean"-->
    <!--            class = "org.example.OrderService"/>-->

    <!--    <bean id = "paymentService"  class = "org.example.payment.PaymentService"/>-->

    <!--    <bean id = "orderService2"  class = "org.example.OrderService"/>-->


        <!-- constructor injection, passing values -->
<!--    <bean id = "orderService" class = "org.example.OrderService">-->
<!--        <constructor-arg ref="paymentService"/>-->
<!--    </bean>-->

<!--    <bean id = "orderService" class = "org.example.OrderService">-->
<!--        <constructor-arg ref="paymentService"/>-->
<!--    </bean>-->

<!--    <bean id = "paymentService" class = "org.example.payment.PaymentService">-->
<!--        <constructor-arg index="1" value="3"/>      -->
<!--        <constructor-arg index="0" value="UPI"/>    -->
<!--        <constructor-arg name="type" value="UPI"/>-->
<!--        <constructor-arg name="retryCount" value="3"/>-->
<!--    </bean>-->


        <!-- setter injection    -->
<!--    <bean id = "paymentService" class="org.example.payment.PaymentService">-->
<!--        <constructor-arg name="type" value="UPI"/>-->
<!--        <constructor-arg name="retryCount" value="3"/>-->
<!--    </bean>-->

<!--  here we don't need to add set it takes it automatically, and have to refer a variable  -->
<!--    <bean id = "orderService" class="org.example.OrderService">-->
<!--        <property name="paymentServiceBean" ref="paymentService"/>-->
<!--    </bean>-->


<!--  What if there are multiple beans of same type, THE SOLUTION  -->
<!--    primary="true" -->
    <bean id="upiPaymentService" class="org.example.payment.UPIPaymentService"/>

    <bean id="cardPaymentService" class="org.example.payment.CardPaymentService"/>
<!--  just referring to the PaymentService class which we need and bean should be created -->
    <bean id="orderService" class="org.example.OrderService">
        <constructor-arg ref="upiPaymentService"/>
    </bean>


</beans>